extends layout

block content
	h1 Local Outlier Factor
	h2 Choose a dataset on which to perform anomaly detection:
	ul
		li: a(href='nhl') NHL player data from 1996-1997 season
		li: a(href='nba') NBA player data from 2015-2016 season

